<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239929053601-hhqcu1k30rsqf3a9280nmf9190bvd5k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239929053601-hhqcu1k30rsqf3a9280nmf9190bvd5k6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>239929053601-ve27rbbhk03gfd94qftr1uv4lbls365h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiEJsQTaeF0ZUIgoVQHYIG8A4A4BSCcZc</string>
	<key>GCM_SENDER_ID</key>
	<string>239929053601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Caffy.Caffy</string>
	<key>PROJECT_ID</key>
	<string>caffy-1575082715468</string>
	<key>STORAGE_BUCKET</key>
	<string>caffy-1575082715468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239929053601:ios:7a43aabd4ba20a80ab7be0</string>
	<key>DATABASE_URL</key>
	<string>https://caffy-1575082715468.firebaseio.com</string>
</dict>
</plist>